<%- include("partials/header") %> 
    <div class="ui main text container">
        <div class="ui huge header">Edit Blog</div>

        <form action="/blogs/<%= blog._id %>?_method=PUT" method="POST" class="ui form">
            <div class="field">
                <label >Blog title</label>
                <input type="text" name="blog[title]" value= <%= blog.title %> >
            </div>
            <div class="field">
                <label >Image url</label>
                <input type="text" name="blog[image]" value= <%= blog.image %> >
            </div>
            <div class="field">
                <label >Blog post</label>
                <textarea name="blog[body]" ><%= blog.body %> </textarea>
            </div>
            <button class="ui inverted violet button">Update</button>
        </form>

    </div>    
<%- include("partials/footer") %>    